{
  "swagger": "2.0",
  "info": {
    "description": "\"PatentsView API\"",
    "version": "\"1.0\"",
    "title": "\"PatentsView API\"",
    "termsOfService": "http://www.patentsview.org/api/faqs.html#what-api",
    "contact": {
      "name": "Russ historicip.com "
    },
    "license": {
      "name": "\"CC0 1.0 Universal Public Domain Dedication\",",
      "url": "https://creativecommons.org/publicdomain/zero/1.0/"
    }
  },
  "host": "www.patentsview.org",
  "basePath": "/api",
  "schemes": ["http"],
  "tags": [
    {
      "name": "get_endpoints"
    },
    {
      "name": "post_endpoints"
    }
  ],
  "paths": {
    "/patents/query": {
      "get": {
        "tags": [
          "get_endpoints"
        ],
        "summary": "Issue a query to patents endpoint, and get a json object back.",
        "description": "Issue a query to patents endpoint, and get a json object back.",
        "operationId": "patentsGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*",
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/q"
          },
          {
            "$ref": "#/parameters/f"
          },
          {
            "$ref": "#/parameters/o"
          },
          {
            "$ref": "#/parameters/s"
          },
          {
            "$ref": "#/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "post_endpoints"
        ],
        "summary": "Post a query object to the patents endpoint.",
        "description": "q is required, f,o,s, format are optional",
        "operationId": "patentsPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "CreatePostRequest",
            "description": "Query to be issued",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/inventors/query": {
      "get": {
        "tags": [
          "get_endpoints"
        ],
        "summary": "Issue a query to inventors endpoint, and get a json object back.",
        "description": "Issue a query to inventors endpoint, and get a json object back.",
        "operationId": "inventorsGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*",
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/q"
          },
          {
            "$ref": "#/parameters/f"
          },
          {
            "$ref": "#/parameters/o"
          },
          {
            "$ref": "#/parameters/s"
          },
          {
            "$ref": "#/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "post_endpoints"
        ],
        "summary": "Post a query object to the inventors endpoint",
        "description": "Issue a query to patentsview.",
        "operationId": "inventorsPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "CreatePostRequest",
            "description": "Query to be issued",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/assignees/query": {
      "get": {
        "tags": [
          "get_endpoints"
        ],
        "summary": "Issue a query to assignees endpoint, and get a json object back.",
        "description": "Issue a query to assignees endpoint, and get a json object back.",
        "operationId": "assigneesGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*",
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/q"
          },
          {
            "$ref": "#/parameters/f"
          },
          {
            "$ref": "#/parameters/o"
          },
          {
            "$ref": "#/parameters/s"
          },
          {
            "$ref": "#/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "post_endpoints"
        ],
        "summary": "Post a query object to the assignees endpoint",
        "description": "Issue a query to patentsview.",
        "operationId": "assigneesPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "CreatePostRequest",
            "description": "Query to be issued",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/locations/query": {
      "get": {
        "tags": [
          "get_endpoints"
        ],
        "summary": "Issue a query to locations endpoint, and get a json object back.",
        "description": "Issue a query to locations endpoint, and get a json object back.",
        "operationId": "locationsGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*",
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/q"
          },
          {
            "$ref": "#/parameters/f"
          },
          {
            "$ref": "#/parameters/o"
          },
          {
            "$ref": "#/parameters/s"
          },
          {
            "$ref": "#/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "post_endpoints"
        ],
        "summary": "Post a query object to the locations endpoint",
        "description": "Issue a query to patentsview.",
        "operationId": "locationsPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "CreatePostRequest",
            "description": "Query to be issued",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/cpc_subsections/query": {
      "get": {
        "tags": [
          "get_endpoints"
        ],
        "summary": "Issue a query to cpc endpoint, and get a json object back.",
        "description": "Issue a query to cpc endpoint, and get a json object back.",
        "operationId": "cpcGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*",
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/q"
          },
          {
            "$ref": "#/parameters/f"
          },
          {
            "$ref": "#/parameters/o"
          },
          {
            "$ref": "#/parameters/s"
          },
          {
            "$ref": "#/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "post_endpoints"
        ],
        "summary": "Post a query object to the cpc endpoint",
        "description": "Issue a query to patentsview.",
        "operationId": "cpcPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "CreatePostRequest",
            "description": "Query to be issued",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/uspc_mainclasses/query": {
      "get": {
        "tags": [
          "get_endpoints"
        ],
        "summary": "Issue a uspc to patent endpoint, and get a json object back.",
        "description": "Issue a uspc to patent endpoint, and get a json object back.",
        "operationId": "uspcGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*",
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/q"
          },
          {
            "$ref": "#/parameters/f"
          },
          {
            "$ref": "#/parameters/o"
          },
          {
            "$ref": "#/parameters/s"
          },
          {
            "$ref": "#/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "post_endpoints"
        ],
        "summary": "Post a query object to the uspc endpoint",
        "description": "Issue a query to patentsview.",
        "operationId": "uspcPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "CreatePostRequest",
            "description": "Query to be issued",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/nber_subcategories/query": {
      "get": {
        "tags": [
          "get_endpoints"
        ],
        "summary": "Issue a query to nber endpoint, and get a json object back.",
        "description": "Issue a query to nber endpoint, and get a json object back.",
        "operationId": "nberGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*",
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/q"
          },
          {
            "$ref": "#/parameters/f"
          },
          {
            "$ref": "#/parameters/o"
          },
          {
            "$ref": "#/parameters/s"
          },
          {
            "$ref": "#/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "post_endpoints"
        ],
        "summary": "Post a query object to the nber endpoint",
        "description": "Issue a query to patentsview.",
        "operationId": "nberPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "CreatePostRequest",
            "description": "Query to be issued",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    }
  },
  "responses": {
    "200": {
      "description": "OK",
      "schema": {
        "type": "string"
      }
    },
    "400": {
      "description": "Returned when the query parameters are not valid, typically either because they are not in valid JSON format, or a specified field or value is not valid. The \"status reason\" in the header will contain the error message."
    },
    "500": {
      "description": "internal error with the processing of the query. The \"status reason\" in the header will contain the error message."
    }
  },
  "definitions": {
    "CreatePostRequest": {
      "type": "object",
      "required": [
        "q"
      ],
      "properties": {
        "q": {
          "type": "object"
        },
        "f": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "format": {
          "type": "string",
          "default": "json",
          "enum": [
            "json",
            "xml"
          ]
        }
      }
    }
  },
  "parameters": {
    "q": {
      "name": "q",
      "in": "query",
      "description": "Query to be issued",
      "required": true,
      "type": "string"
    },
    "f": {
      "name": "f",
      "in": "query",
      "description": "fields to return",
      "required": false,
      "type": "string"
    },
    "o": {
      "name": "o",
      "in": "query",
      "description": "options",
      "required": false,
      "type": "string"
    },
    "s": {
      "name": "s",
      "in": "query",
      "description": "sort",
      "required": false,
      "type": "string"
    },
    "format": {
      "name": "format",
      "in": "query",
      "description": "json|xml defaults to json",
      "required": false,
      "type": "string",
      "enum": [
        "json",
        "xml"
      ]
    },
    "post_input": {
      "in": "body",
      "name": "CreatePostRequest",
      "description": "Query to be issued",
      "required": true,
      "schema": {
        "$ref": "#/definitions/CreatePostRequest"
      }
    }
  }
}
